<div class="container">
<%= form_tag lessons_path, method: "get" do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "検索", practice_field: nil %>
<% end %>
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-lg-4">
        <%= link_to lesson_path(lesson.id) do %>
          <div class="lessons_Box">
            <div class="user_image_Box">
             <%= image_tag "/images/unnamed.jpg", alt: "ユーザー画像"%>
            </div>
            <p><%= lesson.title %></p>
            <p><%= lesson.user.name %></p>
            <h5><%= lesson.practice_field %></h5>
          </div>
        </div> 
      <% end %>
    <% end %>
  </div>
</div>
